# Created by .ignore support plugin (hsz.mobi)
.idea/
/workspace/build/private
/workspace/releases/FULL-*
/workspace/releases/TDUCP-*
/workspace/releases/UPDATE-*
/workspace/wip/private
/database/current/original-*.bnk
