# Created by .ignore support plugin (hsz.mobi)
.idea/
/workspace/wip/files/Euro/
/workspace/build/private/
/workspace/releases/FULL-*
/workspace/releases/UPDATE-*
/database/current/original-*.bnk
/tducp-scripts/src/markdown/*.md
